footer.footer
  .container
    .footer-top

      .footer-col
        h4 Về #{settingGeneral.websiteName}
        p Chuyên cung cấp sản phẩm chất lượng cao với giá tốt nhất thị trường.

      .footer-col
        h4 Liên kết nhanh
        ul
          li
            a(href="#") Trang chủ
          li
            a(href="#") Sản phẩm
          li
            a(href="#") Giới thiệu
          li
            a(href="#") Liên hệ

      .footer-col
        h4 Hỗ trợ
        ul
          li
            a(href="#") Chính sách đổi trả
          li
            a(href="#") Chính sách bảo mật
          li
            a(href="#") Điều khoản dịch vụ

      .footer-col
        h4 Kết nối với chúng tôi
        .footer-social
          a(href="#")
            i.fa-brands.fa-facebook-f
          a(href="#")
            i.fa-brands.fa-instagram
          a(href="#")
            i.fa-brands.fa-tiktok

    .footer-bottom
      | #{settingGeneral.copyright}