extends  ../../layouts/default.pug
include ../../mixins/table-tree.pug

block main
  if(role.permissions.includes("products-category_view"))

    .page-header.d-flex.justify-content-between.align-items-center.mb-4
      h3.fw-bold.mb-0
        i.fas.fa-sitemap.me-2.text-primary
        | Danh mục sản phẩm

      if(role.permissions.includes("products-category_create"))
        a.btn.btn-primary(
          href=`${prefixAdmin}/products-category/create`
        )
          i.fas.fa-plus.me-1
          | Thêm danh mục

    .card.admin-card
      .card-body.p-0

        table.table.admin-table.align-middle.mb-0(checkbox-multi)

          thead
            tr
              th(width="40")
                input(type="checkbox" name="checkall")

              th(width="60") STT
              th(width="120") Hình
              th Tiêu đề
              th(width="100") Vị trí
              th(width="130") Trạng thái
              th(width="160") Hành động

          tbody
            +table-tree(records)