mixin search(keyword)
  form#form-search
    .input-group.search-box
      input.form-control(
        type="text"
        placeholder="Nhập từ khóa sản phẩm..."
        name="keyword"
        value=keyword
      )

      button.btn.btn-primary(type="submit")
        i.fas.fa-search